<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlightData - {% if airport is defined %}{{ airport.name }}{{ airport_icao_code }}{%else%}Airport{% endif %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="icon" href="img/favicon.png" type="image/png"/>
</head>
<body>
<div class="container">
    {{ include('header.html') }}

    {% if airport is not defined %}
    <!-- No airport ICAO defined  -->
    <div class="main col-lg-3 centered">
        <form action="" method="GET" class="col-lg-10 offset-lg-1">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="airport" class="input-group-text">Airport ICAO:</label>
                </div>
                <input class="form-control" type="text" name="airport" id="airport" placeholder="ESSA" minlength="4" maxlength="4" required>
            </div>

            <input type="submit" value="Search" class="btn btn-success col-md-3" style="margin-top: 10px">

        </form>
    </div>
    {% else %}
    <!-- Airport ICAO is defined -->
    <h1 id="headline">{{airport.name}} ({{ airport.icao_code }}/{{ airport.iata_code }})</h1>
    <h3 class="display-5 text-secondary">{{airport.city}} {{airport.country_name}}</h3>

    <div class="col-md-6 float-left table-div" id="departures">
        <h2>Departures</h2>
        <table class="table table-hover">
            <thead>
            <th scope="col">Flight</th>
            <th scope="col">Origin</th>
            <th scope="col">Destination</th>
            <th scope="col">Aircraft Type</th>
            <th scope="col">Tail number</th>
            <th scope="col">Status</th>
            </thead>
            <tbody>
            {% for departure in departures %}
            <tr>
                <td><a href="flight.php?flight={{departure.flight.icao_number}}">{{departure.flight.icao_number}}</a>
                </td>
                <td>
                    <a href="airport.php?airport={{departure.departure.icao_code}}">{{departure.departure.icao_code}}</a>
                </td>
                <td><a href="airport.php?airport={{departure.arrival.icao_code}}">{{departure.arrival.icao_code}}</a>
                </td>
                <td>{{ departure.aircraft.icao_code|default('Unknown') }}</td>
                <td><a href="aircraft.php?reg_number={{ departure.aircraft.reg_number }}">{{
                    departure.aircraft.reg_number }}</a>
                </td>
                <td>{{departure.status}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if departures is empty %}
        <div>
            <h2>Departures not available</h2>
            <h4>Either the airport doesn't have any scheduled departures or our data source is malfunctioning.</h4>
        </div>
        {% endif %}
    </div>

    <div class="col-md-6 float-right table-div" id="arrivals">
        <h2>Arrivals</h2>
        <table class="table table-hover">
            <thead>
            <th scope="col">Flight</th>
            <th scope="col">Origin</th>
            <th scope="col">Destination</th>
            <th scope="col">Aircraft Type</th>
            <th scope="col">Tail number</th>
            <th scope="col">Status</th>
            </thead>
            <tbody>
            {% for arrival in arrivals %}
            <tr>
                <td><a href="flight.php?flight={{arrival.flight.icao_number}}">{{arrival.flight.icao_number}}</a></td>
                <td><a href="airport.php?airport={{arrival.departure.icao_code}}">{{arrival.departure.icao_code}}</a>
                </td>
                <td><a href="airport.php?airport={{arrival.arrival.icao_code}}">{{arrival.arrival.icao_code}}</a></td>
                <td>{{arrival.aircraft.icao_code}}</td>
                <td>
                    <a href="aircraft.php?reg_number={{arrival.aircraft.reg_number}}">{{arrival.aircraft.reg_number}}</a>
                </td>
                <td>{{arrival.status}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if arrivals is empty %}
        <div>
            <h2>Arrivals not available</h2>
            <h4>Either the airport doesn't have any scheduled arrivals or our data source is malfunctioning.</h4>
        </div>
        {% endif %}
    </div>

    {% endif %}

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
</body>
