<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flightdata</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="icon" href="img/favicon.png" type="image/png"/>
</head>
<body>
<div class="container">
    {{ include('header.html') }}
    <form action="" method="post" class="col-md-4" id="search-form">
        <div class="input-group">
            <select class="form-control" name="method">
                <option value="flight">Flight</option>
                <option value="tail">Tail number</option>
                <option value="airline">Airline</option>
            </select>
            <input type="text" id="query" name="query" class="form-control" required placeholder="ICAO code">
        </div>
        <input class="btn btn-success" type="submit" value="Search" id="search-btn">
    </form>

    {% if responses is defined %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Tail Number</th>
            <th scope="col">Flight</th>
            <th scope="col">Model</th>
            <th scope="col">Origin</th>
            <th scope="col">Destination</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>

        {% for flight in responses %}

        <tr>
            <td><a href="aircraft.html?reg_number={{ flight['aircraft']['reg_number'] }}">{{ flight['aircraft']['reg_number'] }}</a></td>
            <td><a href="flight.php?flight={{ flight['flight']['icao_number'] }}">{{ flight['flight']['icao_number']
                }}</a></td>
            <td>{{ flight['aircraft']['icao_code'] }}</td>
            <td>
                <a href="airport.php?airport={{ flight['departure']['icao_code'] }}">{{ flight['departure']['icao_code'] }}</a>
            </td>
            <td>
                <a href="airport.php?airport={{ flight['arrival']['icao_code'] }}">{{ flight['arrival']['icao_code'] }}</a>
            </td>
            <td>{{ flight['status'] }}</td>
        </tr>
        </tbody>

        {% endfor %}

    </table>

    {% endif %}

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
</body>
